{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Perfil de Usuario</title>

    <link rel="stylesheet" href="{% static 'css/global.css'%}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>

    <section class="bg">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="{% url 'inicio'%} "><b>MANAKEA TOURS</b></a>
                {% if user.is_authenticated %}
                    <span class="navbar-text ms-3">
                        ¡Bienvenido, {{ user.username }}!
                    </span>
                {% endif %}
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'hospedaje' %}">HOSPEDAJES</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'actividad' %}">ACTIVIDADES</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'gastronomia' %}">GASTRONOMÍA</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link **active fw-bold**" href="{% url 'perfil' %}">PERFIL</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'carrito' %}">
                                <i class="bi bi-cart4" style="font-size: 1.8rem;"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>